body {
    font-family: Arial, Verdana, sans-serif;
    background-color: white;
    padding: 0px 235px;
}

.card {
  background-color: #111844;  
  width: 560px;
  padding: 10px;
  text-align: center;
  color: white; /* change text color */
  border-radius: 10px;
  margin: 10px auto;
}

#banana-button,
#broiledsteack-button,
#chickenfajita-button,
#curry-button,
#shokupan-button {
  text-decoration: none;
}